.home-button{
  padding:1rem;
  border-radius: 1rem;
  border-width:2px;
  font-size:1.1rem;
  background-color:var(--dark-blue);
  border-color:var(--dark-blue);
  color:white;
  font-weight:bold;
  cursor: pointer;
}

.home-buttons-container{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  padding:1.5rem 5%;
}

.home-button:hover{
  background-color:var(--light-blue);
}