@import "./base.css";

.projects-page{
  padding: 1.5rem 5%;
  width:100%;
}

.filter-buttons{
  display:flex;
  gap:20px;
}

.projects-page h3{
  color:var(--text-light);
}

.filter-buttons button{
  box-sizing:border-box;
  padding:5px 10px 5px 10px;
  border-radius:10px;
  border-width:1px;
  cursor:pointer;
  background-color:var(--accent-light);
}

.filter-buttons button:hover{
  background-color:var(--accent);
}

.filter-button.active {
  background-color:var(--accent);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  text-decoration:none;
}