@import "./base.css";


.new-project-page{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.new-project-page h1{
    margin-bottom:0;
}


.form-card{
    background-color:floralwhite;
    width:min(900px, 90%);
    height:auto;
    padding:1.5rem;
    border-radius:25px;
    display:flex;
    flex-direction:column;
}

.form-section{
    display:grid;
    grid-template-rows:1fr 1fr;
    height:auto;
    width:100%;

}
.form-row{
    display:flex;
    gap:2rem;
}

select{
    width:16rem;
    box-sizing:border-box;
    height:auto;
    padding:12px;
    font-size:1rem;

}

.form-group{
    display:flex;
    flex-direction:column;
    margin-top:.5rem;

}

textArea{
    width:30rem;
    height:6rem;
}

.new-project-page input{
    box-sizing:border-box;
    width:15rem;
    height:auto;
    padding:12px;
}

#add-thread-btn{
    width:50%;
    padding:7px;
    font-size: 1rem;
    margin-top:1rem;
}

.added-thread-item{
   display:flex;
   align-items:center;
   gap:10px;
}


#create-btn{
    width:70%;
    align-self:center;
    height:2.5rem;
    font-size:1.2rem;
    background-color: var(--light-blue);

}

.edit-project-image{
    height:20rem;
    padding:20px;
}