.homepage{
  padding: 1.25rem;
  display:flex;
  justify-content:center;
  flex-direction:column;
}

.home-text{
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
  
}

.homepage #title{
  font-size:4rem;
}