

.navbar{
  padding: 0.9rem 1rem;
  border:1px solid var(--border);
  box-shadow:var(--shadow-soft);
  display:flex;
  justify-content:space-between;
  align-items:center;
  backdrop-filter: blur(12px);
  position:sticky;
  background-color:var(--background-soft);
  top:0;
  z-index:1000;

}

.logo{
  font-weight:bold;
  font-size:1.45rem;
  text-decoration: none;
  cursor:pointer;
  color:var(--text);
  font-weight:700;
}

.nav-links {
  display:flex;
  gap:0.5rem;
  justify-content:space-between;
  list-style:none;
  align-items:center;
  
}

.links-nav {
  color: var(--text);
  text-decoration:none;
  padding:0.55rem 0.85rem;
  font-weight:600;
  font-size:0.95rem;
}

.nav-links:hover{
  color: var(--accent);
}