@import "./base.css";

.project-detail{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:1.2rem;
    gap:2rem;
    min-height: 100vh;
}

.project-image{
    background-color:white;
    height: min(500px, 90%);
    
}

.detailPage-content{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.project-tags{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    margin:1rem;
}

.detailed-project-tag{
    background-color: lightblue;
    padding:10px;
    border-radius:20px;
}

.project-name-detailPage{
    text-align: center;
    margin-bottom:0%;
}

.details{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    padding:15px;
}






.thread-list{
    display:flex;
    flex-direction:column;
    gap:0.75rem;
}

.thread-item{
    display:flex;
    align-items:center;
    gap:0.75rem;
}

.thread-item p{
    margin:0;
}


.thread-dot{
    width:20px;
    height:20px;
    border-radius: 50%;
    border: 1px solid black;
}

.del-edit{
    padding-top:20px;
    display:flex;
    justify-content:space-evenly;
}

.del-edit button{
    background-color:var(--accent-light);
    border-width:1px;
    padding:7px;
    border-radius:10px;
    border-color:var(--accent-light);
}

.project-detail-image{
    width:100%;
    height:auto;
    object-fit:cover;
    display:block;
}


