

.project-card{
  background-color:var(--card-color);
  border-radius:15px;
  min-height: 20rem;
  padding:1.2rem;
  display:grid;
  grid-template-rows: 2fr 1fr;
  box-shadow: 10px 10px 5px 0px var(--sage);

}
.project-image-placeholder{
  background-color: var(--background);
  min-height:40px;
}

.thread-palette{
  display:flex;
  padding:5px;
  align-items:space-evenly;
  gap:.4rem;
}

.row-wrapper{
  display:flex;
  align-items:center;
  justify-content:space-evenly;
}

.color-dot{
  width:20px;
  height:20px;
  border-radius: 50%;
  flex:auto;
  cursor:pointer;
  
}

.project-card-content p{
  color:var(--light-blue);
}

.project-card-content h3{
  color:var(--dark-blue);
}

.project-tags{
  display:flex;
  justify-content:space-evenly;
}
.project-tag{
  background-color:var(--accent-light);
  padding:7px;
  font-size: .9rem;
  border-radius: 15px;
}

.project-card-image{
  width:100%;
  height:auto;
  object-fit:cover;
  display:block;
}