:root{
  --background: #f5f6f2;
  --text: #2E2925;
  --light-accent:#d5e7c4;
  --dark-accent:#6a9f65;
  --light-pink:#e8c9bd;
  --dark-blue:#3d4d82;
  --light-blue:#b3cdef;

  font-family:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text);
  background-color: var(--background);
}

*{
  box-sizing:border-box;
}

body{
  margin:0;
  min-width:320px;
  min-height: 100vh;
  background-color: var(--background);
}


button {
  cursor: pointer;
}

.navbar{
  padding: 1.5rem 5%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:sticky;
  top:0;
  z-index:1000;
}

.logo{
  font-weight:bold;
  font-size:1.4rem;
  text-decoration: none;
  cursor:pointer;
}

.nav-links {
  display:flex;
  justify-content:space-between;
  list-style:none;
  align-items:center;
  
}

.links-nav {
  color: var(--text);
  text-decoration:none;
  margin:.6rem;

}

.homepage{
  max-width:1100px;
  padding: 1.25rem;
}

.home-text{
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
  
}

#title{
  font-size:4rem;
}
.home-buttons-container{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  padding:1.5rem 5%;
}

.home-button{
  padding:1rem;
  border-radius: 1rem;
  border-width:2px;
  font-size:1.1rem;
  background-color:var(--dark-blue);
  border-color:var(--dark-blue);
  color:white;
  font-weight:bold;
  cursor: pointer;
}

.home-button:hover{
  background-color:var(--light-blue);
}

.projects-page{
  padding: 1.5rem 5%;
}
.project-grid{
  padding:1.5rem 5%;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:5%;
  align-items: center;
}

.project-card{
  background-color:#ffffff;
  border-radius:15px;
  min-height: 20rem;
  padding:1.2rem;
  display:grid;
  grid-template-rows: 2fr 1fr;
}
.project-image-placeholder{
  background-color: var(--light-blue);
  height:23rem;
}

.project-card-content p{
  color:var(--light-blue);
}

.project-card-content h3{
  color:var(--dark-blue);
}

.project-tags{
  display:flex;
  justify-content:space-evenly;
}
.project-tag{
  background-color:var(--light-pink);
  padding:7px;
  font-size: .9rem;
  border-radius: 15px;
}







