:root{
  --background: #f5e6f7;
  --text: #2E2925;;



  font-family:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text);
  background-color: var(--background);
}

*{
  box-sizing:border-box;
}

body{
  margin:0;
  min-width:320px;
  min-height: 100vh;
  background-color: var(--background);
}


button {
  cursor: pointer;
}

.navbar{
  padding: 1.5rem 5%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:sticky;
  top:0;
  z-index:1000;
}

.logo{
  font-weight:bold;
  font-size:1.4rem;
  text-decoration: none;
  cursor:pointer;
}

.nav-links {
  display:flex;
  justify-content:space-between;
  list-style:none;
  align-items:center;
  
}

.links-nav {
  color: var(--text);
  text-decoration:none;
  margin:.6rem;

}

.homepage{
  max-width:1100px;
  padding: 1.25rem;
}

.home-text{
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
  
}

#title{
  font-size:4rem;
}
.home-buttons-container{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  padding:1.5rem 5%;
}

.home-button{
  padding:1rem;
  border-radius: 1rem;
  border-width:2px;
  font-size:1.1rem;
  background-color:rgb(152, 98, 125);
  border-color:rgb(152, 98, 125);
  color:white;
  font-weight:bold;
  cursor: pointer;
}

.home-button:hover{
  background-color:rgb(255, 187, 221);
}



